/*NAVIGATION*/
.navbar {
  padding-left: 3%;
  padding-right: 3%;
}

.navbar-brand {
  font-family: 'Playfair Display', serif;
}

.nav-item {
  padding: 0 25px 0 25px;
}

.navbar-nav {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
}


/*HOME*/
#home {
  background-size: 2000px 1200px;
  background-image: url("../images/home-wall3-dark.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-text {
  text-align: center;
  padding: 14% 15% 16%;

}

.home-text h1{
  font-family: 'Playfair Display', serif;
  font-size: 5.5rem;
  font-weight: 700;
  color: #EAEAEA;
}

.home-text h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3rem;
  color: #EAEAEA;
}

/*VISION*/
#vision {
  text-align: center;
  padding: 5% 15%;
  background-color: black;
  /* #323232 */
}

#vision h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  color: #EAEAEA;
}

#vision p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #EAEAEA;
  font-size: 1.6rem;
}

/*VISION*/
#practice {
  text-align: center;
  padding: 5% 15%;
  background-color: white;
  /* #323232 */
}

#practice h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  color: black;
}

#practice p {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 1.6rem;
}

#footer {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: black;
  padding: 3% 15%;
  color: white;
  text-align: center;
}

#footer h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  color: #EAEAEA;
}

#footer p{
  margin-bottom: 0;
}

#footer hr {
  border-top: 1px solid white;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  width: 32%;
}
